$green-color: #067D03;
$green-dark-color: #045703;
$green-mint-color: #035748;

$blue-color: #0681F3;

$orange-color: #F48400;

$yellow-color: #ECFF12;

$white-color: #ffffff;
$black-color: #000000;

$gray-light-color: #f0f0f0;

$black-transparent-color: rgba(0, 0, 0, 0.22);