.login-form {
	width: 100%;
}

.login-form__container {
	padding-block: 50px;
}

.login-form__form {
	@include flex-center($gap: 25px);

	div {
		width: 100%;
	}

	label {
		font-size: 24px;
	}

	input,
	button {
		padding: 10px;
		font-size: 20px;
	}
}

.login-form__button {
	width: 70%;
}